<p>patient works!</p>

<!-- value from patientlist-->

   <ul>
       <li> {{patientList[0].patientId}}  </li>
       <li> {{patientList[0].patientName}} </li>
       <li> {{patientList[0].photo}} </li>
       <li> {{patientList[0].age}} </li>
    </ul>


    <ul>
        <li> {{patientList[1].patientId}}  </li>
        <li> {{patientList[1].patientName}} </li>
        <li> {{patientList[1].photo}} </li>
        <li> {{patientList[1].age}} </li>
     </ul>

     <ul>
        <li> {{patientList[2].patientId}}  </li>
        <li> {{patientList[2].patientName}} </li>
        <li> {{patientList[2].photo}} </li>
        <li> {{patientList[2].age}} </li>
     </ul>